@mixin dflex-dcolumn-ccenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin dflex-jcbetween-alcenter() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dflex-alcenter() {
    display: flex;
    align-items: center;
}

@mixin dflex-allcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dflex-dcolumn() {
    display: flex;
    flex-direction: column;
}

@mixin dflex-jccenter() {
    display: flex;
    justify-content: center;
}

@mixin dflex-jcbetween() {
    display: flex;
    justify-content: space-between;
}

@mixin txt-12 {
    font-family: $font-dm;
    font-size: 12px;
}

@mixin txt-14 {
    font-family: $font-dm;
    font-size: 14px;
    color: $black;
}

@mixin txt-16 {
    font-family: $font-dm;
    font-size: 16px;
    color: $black;
    font-weight: 400;
}

@mixin txt-16-white {
    font-family: $font-dm;
    font-size: 16px;
    color: $white;
    font-weight: 400;
}

@mixin txt-16-white-600 {
    font-family: $font-dm;
    font-size: 16px;
    color: $white;
    font-weight: 600;
}

@mixin txt-16-muted {
    font-family: $font-dm;
    font-size: 16px;
    color: $muted;
    font-weight: 400;
}

@mixin txt-16-muted-600 {
    font-family: $font-dm;
    font-size: 16px;
    color: $muted;
    font-weight: 600;
}

@mixin txt-18 {
    font-family: $font-dm;
    font-size: 18px;
}

@mixin txt-18-muted {
    font-family: $font-dm;
    font-size: 18px;
    color: $muted;
    font-weight: 400;
}

@mixin txt-18-black {
    font-family: $font-dm;
    font-size: 18px;
    color: $black;
    font-weight: 400;
}

@mixin txt-18-350 {
    font-family: $font-dm;
    font-size: 18px;
    font-weight: 350;
}

@mixin txt-20-black {
    font-family: $font-dm;
    font-size: 20px;
    color: $black;
    font-weight: 600;
}

@mixin txt-24-black {
    font-family: $font-dm;
    font-size: 24px;
    color: $black;
    font-weight: 500;
}

@mixin txt-28-white-350 {
    font-family: $font-dm;
    font-size: 28px;
    color: $white;
    font-weight: 350;
}

@mixin txt-28-black-400 {
    font-family: $font-dm;
    font-size: 28px;
    color: $black;
    font-weight: 400;
}

@mixin txt-40-black {
    font-family: $font-dm;
    font-size: 40px;
    color: $black;
    font-weight: 500;
}

@mixin txt-66-white {
    font-family: $font-dm;
    font-size: 66px;
    color: $white;
    font-weight: 600;
    line-height: 1.2;
}

@mixin txt-28-black {
    font-family: $font-dm;
    font-size: 28px;
    color: $black;
    font-weight: 400;
}

@mixin txt-20-black-normal {
    font-family: $font-dm;
    font-size: 20px;
    color: $black;
    font-weight: 600;
}